.container{
    margin: 10px;
}

.kuning{
    background-color: yellow;
    width: 245px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.merah{
    background-color: red;
    width: 1030px;
    height: 100px;
    margin: 25px;
    margin-left: 275px;
}

.gabungan{
   display: flex;
}

.hijau{
    background-color: green;
    width: 250px;
    height: 400px;
    margin: 10px;
}

.abuabu{
    background-color: gray;
    width: 775px;
    height: 400px;
    margin: 10px;
}

.biru{
    background-color: rgb(140, 213, 255);
    width: 250px;
    height: 400px;
    margin: 10px;
}

.birutua{
    background-color: blue;
    width: 1295px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}